.header-container {
  background: rgb(153, 189, 255);
  h1 {
    font-family: 'Covered By Your Grace';
    padding-left: $xl-size;
    font-size: 3em;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
