.nav {
  display: flex;
  background: $main-nav;
  a {
    padding: 1.5rem 0;
    text-align: center;
    flex: 1;
  }
  a:hover {
    background: $main-nav-hover;
  }
  .is-active {
    background: $main-nav-active;
  }
}
