.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $main-nav;
  font-family: 'Open Sans';
  height: $nav-height;
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  a {
    // padding: $xs-size 0;
    text-decoration: none;
    text-align: center;
    flex: 1;
  }
  a:hover {
    background: darken($sub-nav, 10%);
  }
  .is-active {
    background: darken($sub-nav, 5%);
  }
}
