.sub-nav-container {
  display: flex;
  background: seashell;
  a {
    color: black;
    padding: $m-size 0;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
  }
  a:hover {
    background: darken(seashell, 10%);
  }
  .is-active {
    background: darken(seashell, 5%);
  }
}
