.sub-nav-container {
  display: flex;
  background: $sub-nav;
  font-family: 'Open Sans';
  a {
    color: black;
    padding: $m-size 0;
    text-decoration: none;
    text-align: center;
    flex: 1;
  }
  a:hover {
    background: darken($sub-nav, 10%);
  }
  .is-active {
    background: darken($sub-nav, 5%);
  }
}
