.side-nav-parent {
  display: flex;
  flex-direction: column;
  background-color: grey;
  cursor: pointer;
  &__title:hover {
    background-color: orangered;
  }

  &__children {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding-left: 1rem;
  }
  &__child {
    a {
      color: darkblue;
    }
  }
  &__child:hover {
    background-color: orange;
  }
}
