.movie-container {
  font-family: 'Merriweather';
  background: darken($pale-purple, 5%);
  color: $off-black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: $post-width;
  border-radius: 3px;
  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Noto Serif';
    padding: 0;
    margin: 0;
    .title {
      padding: 0;
      margin: 0;
      font-size: 1.5rem;
    }
    .subtitle {
      color: lighten($off-black, 20%);
      font-size: 1.5rem;
      padding: 0;
      padding-left: 0.5rem;
      margin: 0;
    }
  }
  img {
    height: auto;
    width: 100%;
    margin: 0 1rem 1rem 0;
    border-radius: 3px;
  }
  p {
    font-size: 1rem;
    white-space: pre-wrap;
    line-height: 1.6rem;
    padding: 0;
    margin: 0.5rem 0 0 0;
  }
}
