.movie {
  display: flex;
  flex-direction: column;
  font-family: $card-content-font;
  background: darken($post-primary, 5%);
  padding: $small-gap;
  margin-bottom: $small-gap;
  max-width: $post-width;
  border-radius: 3px;
  &__cover {
    img {
      height: auto;
      width: 100%;
      border-radius: 3px;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
    font-family: $card-header-font;
    margin: $small-gap;
  }
  &__title {
    font-size: $card-title;
  }
  &__director {
    color: $card-subtitle;
    font-size: $card-title;
  }
  &__content {
    font-size: $card-font-size;
    line-height: $card-line-height;
    white-space: pre-wrap;
  }
}
