.quote-container {
  font-family: 'Merriweather';
  background: darken($pale-purple, 5%);
  color: $off-black;
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: $post-width;
  border-radius: 3px;
  .image-container {
    width: 50%;
    margin: 0 1.6rem 1.6rem 0;
    img {
      height: auto;
      width: 100%;
      border-radius: 3px;
    }
  }
  .text-container {
    width: 50%;
    .quote {
      font-size: 1.9rem;
    }
    .author {
      color: lighten($off-black, 15%);
      font-size: 1.75rem;
      padding: 1.6rem;
    }
    .comments {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.6rem;
      white-space: pre-wrap;
      line-height: 2.5rem;
      padding: 0;
      margin: 0.8rem 0 0 0;
    }
  }
}
