$xs-size: 1.2rem;
$s-size: 1.9rem;
$m-size: 2.5rem;
$l-size: 5.1rem;
$xl-size: 7.6rem;

// SPACING
$small-gap: 1.2rem;
$standard-gap: 2.4rem;
$large-gap: 4.8rem;

$card-title: 2.4rem;
$card-line-height: 2.6rem;
$card-font-size: 1.6rem;
$card-header-font: 'Noto Serif';
$card-content-font: 'Merriweather';

$post-font-size: 1.7rem;
$post-margin: 2rem;
$post-body-margin: 3.2rem;
$post-line-height: 3.3rem;
$post-width: 70rem;
$art-width: 90rem;

$desktop-breakpoint: 45rem;

// COLORS
$header: rgb(32, 35, 41);
$footer: rgb(32, 35, 41);

$main-nav: rgb(56, 56, 56);
$sub-nav: rgb(87, 87, 87);

$off-black: rgb(39, 39, 39);

$post-primary: rgb(241, 241, 241);
$post-secondary: darken($post-primary, 5%);

$card-primary: darken($post-primary, 5%);
$card-subtitle: lighten($off-black, 15%);

$shadow: 0 1rem 1rem rgba(black, 0.1);

$book-background: darken($post-primary, 5%);

$main-nav-hover: darken($main-nav, 5%);
$main-nav-active: darken($main-nav, 10%);

$quotation: lighten($off-black, 20%);
$quotation-attribution: lighten($off-black, 35%);
$quotation-box: darken($post-primary, 2%);

$pale-purple: pink;
$inline-code: rgb(237, 220, 255);
