.kubrick-container {
  font-family: 'Merriweather';
  background: darken($pale-purple, 5%);
  color: $off-black;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  max-width: $post-width;
  border-radius: 3px;
  h1 {
    font-family: 'Futura';
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.8rem;
  }
  .portrait-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    img {
      height: 23rem;
      margin-bottom: 0.8rem;
    }
  }
  .movies-container {
    img {
      width: 100%;
      height: auto;
    }
  }
}
