.kubrick {
  font-family: $card-content-font;
  background: $card-primary;
  display: flex;
  flex-direction: column;
  padding: $small-gap;
  margin-bottom: $small-gap;
  max-width: $post-width;
  border-radius: 3px;
  &__title {
    font-family: 'Futura';
    font-weight: 300;
    text-align: center;
    letter-spacing: 2rem;
    font-size: 3rem;
    margin-bottom: $small-gap;
  }
  &__portrait {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $small-gap;
    img {
      height: 23rem;
    }
  }
  &__movies {
    img {
      width: 100%;
      height: auto;
    }
  }
}
