.nietzsche {
  display: flex;
  font-family: $card-content-font;
  background: $card-primary;
  padding: $small-gap;
  margin-bottom: $small-gap;
  max-width: $post-width;
  border-radius: 3px;
  &__portrait {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: $small-gap;
    img {
      height: auto;
      width: 100%;
    }
    &--1 {
      margin-bottom: $small-gap;
    }
    &--2 {
      margin-bottom: $small-gap;
    }
  }
  &__body {
    width: 60%;
    .nietzsche__title {
      font-family: $card-header-font;
      font-size: 3.5rem;
      margin-bottom: $small-gap;
    }
    .nietzsche__text {
      font-size: $card-content-font;
      line-height: $card-line-height;
    }
  }
}
