* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans';
  color: $off-black;
}

body {
  height: 100vh;
  overflow: auto;
  font-size: 1.6rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: black;
}

img {
  border-radius: 3px;
}
