$xs-size: 0.75rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$post-width: 700px;
$desktop-breakpoint: 45rem;

$pale-purple: rgb(245, 245, 255);
$inline-code: rgb(237, 220, 255);
$off-black: rgb(39, 39, 39);
